<%
  transaction_title = 'Statutory Off Road Notification'
  transaction_shortname = 'SORN'

  @js_config = {
    "controller" => "vehicle-licensing/controllers/vehicle-licensing-service",
    "service-name" => service_name
  }
%>

<% content_for :title do %><%= transaction_title %> - Service performance - GOV.UK<% end %>

<header>
  <h1>
    <span class="strapline">Service performance</span>
    Statutory Off Road Notification
  </h1>
  <p class="explanatory"><abbr title="Statutory Off Road Notification">SORN</abbr> is a service within <%= link_to("vehicle-licensing") do %>vehicle licensing<% end %>, which also covers <%= link_to('tax-disc') do %>tax disc<% end %>.</p>
  <p class="explanatory"><abbr title="Statutory Off Road Notification">SORN</abbr>s must be made for a registered vehicle that is not being used on the road, and which has been taxed since 31 January 1998.</p>
</header>

<%= render(partial: "vehicle-licensing/active-users", locals: {
  title: "Users on start page",
  data_source: "Google Analytics",
  description: "Shows the estimated number of users currently accessing the GOV.UK start page for the #{transaction_shortname} transaction.",
  id: "#{params[:slug]}-volumes",
  transaction_shortname:transaction_shortname,
  transaction_title: transaction_title
}) %>

<section id="customer-satisfaction" class="half-width">
  <h1>Customer satisfaction</h1>
  <aside class='more-info'>
    <span class='more-info-link'>more info</span>
    <ul>
      <li>Data source: <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> database</li>
      <li>Customer satisfaction is measured using a survey on a sample of
        users at the point of transaction completion. It is measured on
        a 5 point scale from most satisfied to least satisfied. The mean
        of these responses is converted to a percentage for display purposes.</li>
    </ul>
  </aside>
  <h2>Average score of satisfied responses</h2>
  <p class="impact-number current-value"></p>
  <p class="stat-description current-date"></p>
  <div class="previous-month">
    <p class="impact-number change"></p>
    <p class="stat-description previous-date"></p>
  </div>
</section>

<%= render(partial: "vehicle-licensing/volumetrics", locals: {
  title: "Applications by channel",
  description: "Vehicle licensing applications per month broken down by channel",
  id: "vehicle-licensing-channels",
  info_text: "Shows the monthly number of SORNs received by the DVLA, broken down by channel.",
  transaction_title:transaction_title,
  transaction_shortname:transaction_shortname
}) %>

<%= render(partial: "vehicle-licensing/digital_takeup", locals: {
  id: "#{params[:slug]}-takeup"}) %>

<%= render(partial: "vehicle-licensing/failures",
  locals: {
    id: "#{params[:slug]}-failures",
    transaction_title:transaction_title,
    transaction_shortname:transaction_shortname
}) %>

<% if Rails.application.config.feature_toggles[:evl_availability_modules] %>
    <%= render(partial: "common/modules/availability", locals: {title: "Service availability", id: "#{params[:slug]}-availability"}) %>
<% end %>
