<% content_for :title do %>Licensing - Service performance - GOV.UK<% end %>

<% @js_config = { "controller" => "licensing/controllers/overview" } %>

<header>
  <h1>
      <span class="strapline">Service performance</span>
      Licensing overview
      <span class="tagline">(licences and authorities on GOV.UK only)</span>
  </h1>
  <p class="explanatory-header">Licensing covers <%= link_to({action: 'licences'} ) do %>all licences<% end %>
    that can be applied for online through GOV.UK. These can be offered by a range of
    <%= link_to({action: 'authorities'} ) do %>local and national authorities<% end %>.</p>
</header>

<% if Rails.application.config.feature_toggles[:show_licensing_visitors_realtime] %>
  <section>
    <h1>Real-time usage</h1>
    <aside class='more-info'>
      <span class='more-info-link'>more info</span>
      <ul>
        <li>Data source: Google Analytics</li>
        <li>Shows the estimated number of users currently accessing licensing pages on GOV.UK.</li>
      </ul>
    </aside>
    <h2>Live number of users on any page within the service</h2>
    <div id="number-of-visitors-realtime"></div>
  </section>
<% end %>

<section class="graph">
  <h1>Forms received</h1>
  <aside class='more-info'>
    <span class='more-info-link'>more info</span>
    <ul>
      <li>Data source: GOV.UK licensing database</li>
      <li>Shows the total number licensing forms received by GOV.UK.</li>
      <li>This does not measure whether a submission was subsequently paid for, valid or accepted by the authority.</li>
    </ul>
  </aside>
  <nav id="applications-nav"></nav>
  <h2>Total forms received per week over the last 9 weeks</h2>
  <figure class="graph timeseries-graph" id="total-applications"></figure>
</section>

<% if Rails.application.config.feature_toggles[:show_licensing_overview_success_rate] %>
  <section class="half-width row-start">
    <h1>Completion rate</h1>
    <aside class='more-info'>
      <span class='more-info-link'>more info</span>
      <ul>
        <li>Data source: Google Analytics</li>
        <li><a href="/service-manual/measurement/completion-rate.html" rel="external" target="_blank">Completion rate</a> measures the proportion of people who started a form submission and were able to complete it.</li>
        <li>This measures submissions only, not whether a submission was valid or accepted by the authority.</li>
        <li>It is calculated by dividing the number of unique visitors to the final page of a form submission by the number of unique visitors to the first page.</li>
      </ul>
    </aside>
    <h2>Percentage of users who successfully submitted a form</h2>
    <p id="applications-success-rate" class="impact-number"></p>
    <p class="stat-description">average last week</p>
  </section>
<% end %>

<section class="graph<% if Rails.application.config.feature_toggles[:show_licensing_overview_success_rate] %> half-width<% end %>">
  <h1>Users at each stage</h1>
  <aside class='more-info'>
    <span class='more-info-link'>more info</span>
    <ul>
      <li>Data source: Google Analytics (unique visitor numbers based on sampled data)</li>
      <li>Shows only those stages that are common across all licensing submissions (some licences have additional fee payment stages which are not included).</li>
      <li>The total number of unique users who arrived at each stage.</li>
    </ul>
  </aside>
  <h2>Number of users who completed important stages of the transaction last week</h2>
  <figure class="graph conversion-graph" id="applications-conversion-graph"></figure>
</section>

<%= render(partial: "common/modules/availability") %>

<section>
  <h1>Top licences last week</h1>
  <aside class='more-info'>
    <span class='more-info-link'>more info</span>
    <ul>
      <li>Data source: GOV.UK licensing database</li>
      <li>Top licences sorts submissions per licence in the past week by submission volume. Those with the highest submission volume are included in the table.</li>
    </ul>
  </aside>
  <h2>Licences that received the most submissions last week</h2>
  <article class="top5-table-wrapper" id="top5-licences-table"></article>
  <p><%= link_to "See all licences", :action => "licences" %></p>
</section>

<section>
  <h1>Top authorities last week</h1>
  <aside class='more-info'>
    <span class='more-info-link'>more info</span>
    <ul>
      <li>Data source: GOV.UK licensing database</li>
      <li>Top authorities sorts submissions per authority in the past week by submission volume. Those with the highest submission volume are included in the table.</li>
    </ul>
  </aside>
  <h2>Local and national authorities that received the most submissions last week</h2>
  <article class="top5-table-wrapper" id="top5-authorities-table"></article>
  <p><%= link_to "See all licensing authorities", :action => "authorities" %></p>
</section>
