<% content_for :title do %><%= @licence.name %> - Performance Platform - GOV.UK<% end %>
<% content_for :js_config do %>
    data-controller="licensing/controllers/per_licence" data-licence-url-slug="<%= @licence.slug %>"
<% end %>

<header>
  <p class="category-title"><%= link_to "Licences", :action => "licences" %></p>
  <h1><%= @licence.name %> <span class="tagline">(applications made through GOV.UK only)</span></h1>
</header>

<section class="graph">
  <h1>Weekly licence applications</h1>
  <h2>Total licence applications per week over the last 9 weeks and top authorities by licence application volume in this time</h2>
  
  <figure class="applications-graph" id="applications-by-authority"></figure>
</section>

<section>
  <h1>Applications per authority</h1>
  <h2>Authorities offering <strong><%= @licence.name %></strong> on GOV.UK</h2>
  
  <article class="table-wrapper" id="applications-table"></article>
</section>

