<% content_for :title do %><%= @authority.name %> - Performance Platform - GOV.UK <% end %>
<% content_for :js_config do %>
    data-controller="licensing/controllers/per_authority" data-authority-url-slug="<%= @authority.slug %>"
<% end %>

<header>
  <p class="category-title"><%= link_to "Authorities", :action => "authorities" %></p>
  <h1><%= @authority.name %></h1>
</header>

<section class="graph">
  <h1>Weekly form submissions</h1>
  <nav id="applications-nav"></nav>
  <h2>Total form submissions per week over the last 9 weeks and top licences by submission volume in this time</h2>

  <figure class="graph applications-graph" id="applications-by-licence"></figure>
</section>

<section>
  <h1>Licence submissions</h1>
  <h2>Licences offered by <strong><%= @authority.name %></strong> on GOV.UK</h2>
  
  <article class="table-wrapper" id="applications-table"></article>
</section>

