<% id ||= "volumetrics" %>
<% title ||= "Service Volumetrics" %>
<% description ||= "Service Volumetrics by month" %>
<% info_text ||= "The number of successful applications for a #{transaction_shortname}." %>
<section class="graph graph-with-labels vehicle-licensing-volumetrics">
  <h1><%= title %></h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: <abbr title="Driver and Vehicle Licensing Agency">DVLA</abbr> database</p>
        <p><%=raw info_text %></p>
      </div>
    </li>
  </ul>
  <nav id="<%= id %>-nav"></nav>
  <h2 id="<%= id %>-headline"><%= description %></h2>
  <figure class="graph timeseries-graph" id="<%= id %>"></figure>
</section>

