<%= render :partial => "common/vehicle_licensing_navigation" %>

<% content_for :title do %><%= transaction_title %> - Vehicle licensing - Service performance - GOV.UK<% end %>

<% @js_config = {
    "controller" => "vehicle-licensing/controllers/vehicle-licensing-service",
    "service-name" => service_name,
} %>
<%= render(partial: "common/copy/dashboard_header",
           locals: {title: transaction_title,
                    copy: explanatory_copy}) %>

<section class="half-width row-start">
  <h1>Live service usage</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: Google Analytics</p>
        <p>Shows estimated number of users currently accessing GOV.UK launch page for the service.</p>
      </div>
    </li>
  </ul>
  <h2>Users actively browsing GOV.UK launch pages for this service</h2>
  <div id="<%= "#{service_name}-realtime" %>"></div>
</section>

<section id="customer-satisfaction" class="half-width">
  <h1>Customer satisfaction</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: TBD</p>
      </div>
    </li>
  </ul>
  <h2>Average score of satisfied responses</h2>
  <p class="impact-number current-value"></p>
  <p class="stat-description current-date"></p>
  <div class="previous-month">
      <p class="impact-number change"></p>
      <p class="stat-description previous-date"></p>
  </div>
</section>

<%= render(partial: "common/modules/volumetrics",
           locals: {title: "Applications",
                    description: "",
                    id: "#{service_name}-volumes"}) %>

<%= render(partial: "vehicle-licensing/failures",
           locals: {title: "Application failures",
                    id: "#{service_name}-failures"}) %>

<% if Rails.application.config.feature_toggles[:evl_availability_modules] %>
  <%= render(partial: "common/modules/availability",
             locals: {title: "Service availability",
                      id: "#{service_name}-availability"}) %>
<% end %>
