<%= render :partial => "common/vehicle_licensing_navigation" %>

<% content_for :title do %><%= transaction_title %> - Vehicle licensing - Service performance - GOV.UK<% end %>

<% @js_config = {
    "controller" => "vehicle-licensing/controllers/vehicle-licensing-service",
    "service-name" => params[:slug],
} %>
<%= render(partial: "common/copy/dashboard_header", locals: {title: transaction_title, copy: explanatory_copy}) %>

<section>
  <h1>Live service usage</h1>
  <ul class="module-actions">
    <li class="info">
      <div>
        <p>Data source: Google Analytics</p>
        <p>Shows estimated number of users currently accessing GOV.UK launch page for the service.</p>
      </div>
    </li>
  </ul>
  <h2>Users actively browsing GOV.UK launch pages for this service</h2>
  <div id="<%= "#{params[:slug]}-realtime" %>"></div>
</section>


<%= render(partial: "common/modules/volumetrics", locals: {title: "Applications", description: "",
                                                           id: "#{params[:slug]}-volumes"}) %>

<%= render(partial: "vehicle-licensing/failures", locals: {title: "Application failures", id: "#{params[:slug]}-failures"}) %>

<% if Rails.application.config.feature_toggles[:evl_availability_modules] %>
    <%= render(partial: "common/modules/availability", locals: {title: "Service availability", id: "#{params[:slug]}-availability"}) %>
<% end %>
