<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%# Configuration variable added to wrapper element because slimmer removes body attributes %>
<div id="wrapper" data-backdrop-url="<%= Rails.application.config.backdrop_url %>" data-environment="<%= ENV['RAILS_ENV'] %>" <%= yield(:js_config) %> >
  
  <header id="global">
    <p>
      <%= link_to "Licensing performance", :action => "index" %>
    </p>
    <nav>
      <ul>
        <li<% if controller.action_name == 'index' %> class="active"<% end %>>
          <%= link_to "Overview", :action => "index" %>
        </li>
        <li<% if ['licences', 'per_licence'].include? controller.action_name %> class="active"<% end %>>
          <%= link_to "Licences", :action => "licences" %>
        </li>
      </ul>
    </nav>
  </header>
  
  <section id="content">
    <%= yield %>
  </section>
</div>

<%= javascript_include_tag 'vendor/require', data: { main: '/assets/config' } %>

</body>
</html>
