<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%# Configuration variable added to wrapper element because slimmer removes body attributes %>
<div id="wrapper" data-backdrop-url="<%= Rails.application.config.backdrop_url %>"
     data-environment="<%= ENV['RAILS_ENV'] %>"
     data-base-url="<%= requirejs_base_url %>"
     data-d3-url="<%= requirejs_module_path("vendor/d3.v3.js") %>" <%= yield(:js_config) %> >
  
  <header id="global">
    
    <nav class="performance-nav">
      <%= link_to({action: 'index'}, class: "top-level") do %>
          <span class="top-level-link">Licensing performance</span>
          <span class="alpha-tag">Alpha</span>
      <% end %>
      <div class="menu-wrapper">
        <a id="menu-toggle" href="#" data-hide-or-show="sub-level">menu</a>
        <div class="inner-nav">
          <ul id="navigation">
            <li class="sub-level">
              <% authoritiesClassName = 'current' if ['authorities', 'per_authority'].include? controller.action_name %>
              <%= link_to({action: 'authorities'}, class: authoritiesClassName ) do %>
                Authorities
              <% end %>
            </li>
            <li class="sub-level">
              <% licencesClassName = 'current' if ['licences', 'per_licence'].include? controller.action_name %>
              <%= link_to({action: 'licences'}, class: licencesClassName ) do %>
                Licences
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  <section id="content" class="group">
    <%= yield %>
    <div id="report-a-problem"></div>
  </section>
</div>

<%= javascript_include_tag 'vendor/require', data: { main: requirejs_main_path } %>

</body>
</html>
