<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%# Configuration variable added to wrapper element because slimmer removes body attributes %>
<%
   data = {
     "backdrop-url" => controller.backdrop_url,
     "environment" => ENV['RAILS_ENV'],
     "base-url" => requirejs_base_url,
     "d3-url" => requirejs_module_path("vendor/d3.v3.js"),
     "preprocessors" => "partial_experience_warning,module_touch_actions"
   }
   data["additional-dependencies"] = controller.additional_requirejs_dependencies if controller.additional_requirejs_dependencies
   data.merge!(@js_config) if (@js_config)
%>
<%= content_tag :div, id: "wrapper", data: data do %>

  <header id="global">
    <%= render :partial => "navigation" rescue nil %>
  </header>
  
  <section id="content" class="group">
    <%= yield %>
    <div id="report-a-problem"></div>
  </section>
<% end %>

<%= javascript_include_tag 'vendor/require', data: { main: requirejs_main_path } %>

</body>
</html>
